
<div class="container-fluid ">

    <ul class="col-md-6 list">
            
                <h6>Selected Customer: <a href="/customers/<%=customer._id%>">
                        <%=customer.name %></a>
                <h6></h6>
 
</ul>





          <div class="col-md-10 container-fluid p-5 my-5 bg-primary text-white sticky-top">

                <div class="jumbotron">
                  <h3 >Customer Summary Dashboard</h3>
                  <div style="display: flex; flex-direction: row;">
                  <div class="card col-sm-2" style="width:100px" >
                        <img class="card-img-top"  src="<%= (customer.photo ? customer.photo : 'https://www.w3schools.com/bootstrap5/img_avatar1.png') %>" alt="Card image">
                        <div class="card-body" >
                          <h5 class="card-title text-black"> Name: <%=customer.name %></h5>
                  
                        </div>
                        
                      </div>
                      <div class="col-sm-10" style="display: inline-block">
                        <div style="display: inline">
                      <div class="row" style="padding-left: 20px;">
                        <div class="col-sm-4 text-black ">Email: <%=customer.email %></div>
                        <div class="col-sm-4 text-black">Phone: <%=customer.phone %></div>
                        <div class="col-sm-4 text-black">Website: <a href="<%=customer.website %>"><%=customer.website %></a></div>
                      </div>
                      &nbsp
                      <div class="row" style="padding-left: 20px;">
                        <div class="col-sm-4 text-black">Address: <%=customer.address %></div>
                        <div class="col-sm-4 text-black ">City: <%=customer.city %></div>
                        <div class="col-sm-4 text-black">Zip Code: <%=customer.zip %></div>
                      </div>
                      &nbsp
                      <div class="row" style="padding-left: 20px;">
                        <div class="col-sm-4 text-black">Notes: <%=customer.notes %></div>
                        <div class="col-sm-4 text-black">Created date: <%=customer.createdDate %></div>
                        <div class="col-sm-4 text-black"></div>
                      </div>
                    </div>
                    
                             
  
              </div>
</div>

                </div>
                </div>
                </div>


                <div style="text-align:center; "> 
                  <!-- Button to Open the Modal -->
                  <button type="button" class="btn btn-primary"><a href="/customers" style="color:white; text-decoration: none;">Back to Customer List</a></button>
                
                
                  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal" >
                    Edit Customer
                  </button>
                  
                  <!-- The Modal -->
                  <div class="modal" id="myModal">
                    <div class="modal-dialog">
                      <div class="modal-content">
                  
                        <!-- Modal Header -->
                        <div class="modal-header">
                          <h4 class="modal-title">Edit Customer</h4>
                          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                  
                        <!-- Modal body -->
                        <div class="modal-body">
                         
                
                          <form action="/customers/<%=customer._id%>/?_method=put" method="POST">
                    
                            <div class="form-group">
                                <label for="name">Name:</label>
                                <input type="text" id="name" name="name" class="form-control" value="<%=customer.name%>">
                                <label for="email">Email:</label>
                                <input type="text" id="email" name="email" class="form-control" value="<%=customer.email%>">

                                <label for="phone">Phone:</label>
                                <input type="text" id="phone" name="phone" class="form-control" value="<%=customer.phone%>">
                                <label for="website">Website:</label>
                                <input type="text" id="website" name="website" class="form-control" value="<%=customer.website%>">

                                <label for="address">Address:</label>
                                <input type="text" id="address" name="address" class="form-control" value="<%=customer.address%>">
                                <label for="city">City:</label>
                                <input type="text" id="city" name="city" class="form-control" value="<%=customer.city%>">

                                <label for="zip">Zip Code:</label>
                                <input type="text" id="zip" name="zip" class="form-control" value="<%=customer.zip%>">
                                <label for="notes">Notes:</label>
                                <input type="text" id="notes" name="notes" class="form-control" value="<%=customer.notes%>">
                                <label for="photo">Photo Url:</label>
                                <input type="text" id="photo" name="photo" class="form-control" value="<%=customer.photo%>">
                            </div>
                
                            
                        </div>
                  
                        <!-- Modal footer -->
                        <div class="modal-footer">
                          <input type="submit" value="Update Customer" class="btn btn-primary" />
                          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                      </form>
                        </div>
                  
                      </div>
                    </div>
                  </div>
                
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal2" >
                     Delete Customer
                    </button>
                    
                    
                    
                    </div>
                    
                    <div class="modal" id="myModal2">
                      <div class="modal-dialog">
                        <div class="modal-content">
                    
                          <!-- Modal Header -->
                          <div class="modal-header">
                            <h4 class="modal-title">Are you sure you want to delete the customer?</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                          </div>
                    
                          <!-- Modal body -->
                          <div class="modal-body">
                           
                    
                         <form action="/customers/<%=customer._id%>?_method=DELETE" method="POST" class="d-inline">
                      <input type="submit" value="Yes" class="btn btn-danger" />
                    </form>
                    
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">No</button>
                              
                          </div>
                    
                          <!-- Modal footer -->
                          <div class="modal-footer">
                        </form>
                          </div>
                    
                        </div>
                      </div>
                    </div>
                  </div>