

<div class="container-fluid ">

    <ul class="col-md-6 list">
            
                <h6>Selected Customer: <a href="/customers/<%=customer._id%>">
                        <%=customer.name %></a>
                <h6></h6>
 
</ul>

<div style="text-align:center"> 
  <!-- Button to Open the Modal -->
  <button type="button" class="btn btn-primary"><a href="/customers" style="color:white; text-decoration: none;">Back to Customer List</a></button>


  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal" >
    Edit Customer
  </button>
  
  <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Edit Customer</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
         

          <form action="/customers/<%=customer._id%>/?_method=put" method="POST">
    
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" class="form-control" value="<%=customer.name%>">
                <label for="email">Email:</label>
                <input type="text" id="email" name="email" class="form-control" value="<%=customer.email%>">
            </div>

            
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <input type="submit" value="Update Customer" class="btn btn-primary" />
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        </div>
  
      </div>
    </div>
  </div>
  </div>



          <div class="col-md-10 container-fluid p-5 my-5 bg-primary text-white sticky-top">

                <div class="jumbotron">
                  <h3>Customer Summary Dashboard</h3>
                  <div class="card" style="width:200px">
                        <img class="card-img-top" src="https://www.w3schools.com/bootstrap5/img_avatar1.png" alt="Card image">
                        <div class="card-body">
                          <h4 class="card-title text-black">Name: <%=customer.name %></h4>
                          <p class="card-text text-black">Email: <%=customer.email %></p>

                    




                        <form action="/customers/<%=customer._id%>/?_method=delete" method="POST">
                          <button>Delete</button>
                          </form>
                        </div>
                      </div>
                </div>
              </div>
</div>

