<% let customerNameArry = [] %> 
<% let customerCountryArry = [] %> 
<% let customerNameString = "" %> 
<% let invoiceNumberArry = [] %> 
<% let invoiceAmountArry = [] %> 
<% let colorArry = [] %> 
<% let numbersUsed = [] %> 
<% let colors = ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850", "#5b6eb9","#008ab8","#ffbe0a","#ff9999","#ffbaf9","#a9d93c","#0001f6","#d2ba4b","#ff6f69","#646464","#7cbb9e","#f5c600","#ff8282","#f97800","#8430c8","#60720f","#8536a5","#2fe0e0","#ffaa0e","#00bde7","#6441a4","#333333","#a6056f","#eccc6e","#256E96",'#FF6633', '#FFB399', '#FF33FF', '#FFFF99', '#00B3E6', '#E6B333', '#3366E6', '#999966', '#99FF99', '#B34D4D','#80B300', '#809900', '#E6B3B3', '#6680B3', '#66991A', '#FF99E6', '#CCFF1A', '#FF1A66', '#E6331A', '#33FFCC','#66994D', '#B366CC', '#4D8000', '#B33300', '#CC80CC', '#66664D', '#991AFF', '#E666FF', '#4DB3FF', '#1AB399','#E666B3', '#33991A', '#CC9999', '#B3B31A', '#00E680', '#4D8066', '#809980', '#E6FF80', '#1AFF33', '#999933','#FF3380', '#CCCC00', '#66E64D', '#4D80CC', '#9900B3', '#E64D66', '#4DB380', '#FF4D4D', '#99E6E6', '#6666FF'] %> 
<div class="container-fluid row">
    <ul class="col-sm-2 list-group">
          <h6>Customer List</h6>
          
              
          <% data.customers.forEach(cust =>{ customerCountryArry.push(cust.country); if(cust.invoicenumber >0){ let selectedColor =  Math.floor(Math.random()*colors.length) ; while(numbersUsed.includes(selectedColor) == true){selectedColor =  Math.floor(Math.random()*colors.length)}; numbersUsed.push(selectedColor); colorArry.push( colors[selectedColor]  ); customerNameArry.push(cust.name); invoiceAmountArry.push(cust.invoicetotal);  invoiceNumberArry.push(cust.invoicenumber) };    %> 
                <div class="dropdown">
                    <button type="button" class="btn dropdown-toggle list-group-item list-group-item-action" data-bs-toggle="dropdown" style="color:darkcyan;">
                      <%=cust.name %>
                     </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="/customers/<%=cust._id%>">View Customer</a></li>
                    </ul>
                </div>
        <% }) %> 

    </ul>
    <div class="col-md-10 container p-5 my-5 bg-primary text-white ">
      <div class="jumbotron" style="padding-top:0%" >
        <h5 style="text-align:center">Customer Dashboard</h5>
        <p class="text-black">Customer Total: <%=data.customers.length%></p>
        <p class="text-black">Invoice Total: <%=data.invoices[0].length%></p>
        <div style="text-align:center">
        <canvas id="myChart" style="width:100%;max-width:900px; display: inline; " ></canvas>
        <canvas id="myChart2" style="width:100%;max-width:900px; display: inline; "></canvas>
        <canvas id="myChart3" style="width:100%;max-width:900px; display: inline; "></canvas>
      </div>
      </div>
      </div>
</div>

<% customerNameString = customerNameArry.join()%>

<% while(customerNameString.includes(" ")){customerNameString= customerNameString.replaceAll(" ", "_")} %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

<div id="customerName" data-name=<%= customerNameString %>></div>
<div id="invoiceNumber" data-number=<%= invoiceNumberArry %>></div>
<div id="invoiceAmount" data-amount=<%= invoiceAmountArry %>></div>
<div id="colorArry" data-amount="<%= colorArry %>"></div>
<div id="countryNameArr" data-countryname="<%= data.countryNameArr %>"></div>
<div id="countryCountArr" data-countrycount="<%= data.countryCountArr %>"></div>


<script>       

  var name = document.getElementById('customerName').dataset.name
  var number = document.getElementById('invoiceNumber').dataset.number
  var amount = document.getElementById('invoiceAmount').dataset.amount
  var colors = document.getElementById('colorArry').dataset.amount

  var countryName1 = document.getElementById('countryNameArr').dataset.countryname
  var countryCount1 = document.getElementById('countryCountArr').dataset.countrycount
  
  console.log(countryName1)
  console.log(countryCount1)
  const customerNames = name.split(",");
  for(let m =0;m<customerNames.length;m++)
{
  while(customerNames[m].includes("_")){customerNames[m]= customerNames[m].replaceAll("_", " ")} 
}  const invoiceNumbers = number.split(",");
  const invoiceAmounts = amount.split(",");
  const colorArr = colors.split(",");
  const countrys = countryName1.split(",");
  const countrycount = countryCount1.split(",");
  new Chart(document.getElementById("myChart"), {
    type: 'bar',
    data: 
    {
      labels: customerNames,
      datasets: 
      [
        {
          label: "Invoices",
          backgroundColor: colorArr,
          data: invoiceNumbers
        }
      ]
    },
    options: 
    {
      scales: 
      {
        yAxes: 
          [
            {
              display: true,
              stacked: true,
              ticks: 
              {
                min: 0, // minimum value
              }
            }
          ]
        },
        xAxis: {
            ticks: {
              suggestedMax: 100
            }
        },
      legend: { display: false },
      title: {
        display: true,
        text: 'Number of Invoices per Customer'
      }
    }
});

new Chart(document.getElementById("myChart2"), {
    type: 'bar',
    data: {
      labels: customerNames,
      datasets: [
        {
          label: "Total Invoiced Amount per Customer USD",
          backgroundColor: colorArr,
          data: invoiceAmounts
        }
      ]
    },
    options: {
        scales: {
        yAxes: [{
          
            display: true,
            stacked: true,
            ticks: {
              callback: function(value, index, ticks) {
                        return '$' + value;
                    },
                min: 0, // minimum value
            }
        }]
    },
      legend: { display: false },
      title: {
        display: true,
        text: 'Total Invoiced Amount per Customer'
      }
    }
});




new Chart("myChart3", {
  type: "doughnut",
  data: {
    labels: countrys,
    datasets: [{
      backgroundColor: colorArr,
      data: countrycount
    }]
  },
  options: {
    title: {
      display: true,
      text: "Customer Country Summary"
    }
  }
});
</script>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>