<% let customerNameArry = [] %> 
<% let customerCountryArry = [] %> 
<% let customerNameString = "" %> 
<% let invoiceNumberArry = [] %> 
<% let invoiceAmountArry = [] %> 
<% let numbersUsed = [] %> 
<% let colors = ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850", "#5b6eb9","#008ab8","#ffbe0a","#ff9999","#ffbaf9","#a9d93c","#0001f6","#d2ba4b","#ff6f69","#646464","#7cbb9e","#f5c600","#ff8282","#f97800","#8430c8","#60720f","#8536a5","#2fe0e0","#ffaa0e","#00bde7","#6441a4","#333333","#a6056f","#eccc6e","#256E96",'#FF6633', '#FFB399', '#FF33FF', '#FFFF99', '#00B3E6', '#E6B333', '#3366E6', '#999966', '#99FF99', '#B34D4D','#80B300', '#809900', '#E6B3B3', '#6680B3', '#66991A', '#FF99E6', '#CCFF1A', '#FF1A66', '#E6331A', '#33FFCC','#66994D', '#B366CC', '#4D8000', '#B33300', '#CC80CC', '#66664D', '#991AFF', '#E666FF', '#4DB3FF', '#1AB399','#E666B3', '#33991A', '#CC9999', '#B3B31A', '#00E680', '#4D8066', '#809980', '#E6FF80', '#1AFF33', '#999933','#FF3380', '#CCCC00', '#66E64D', '#4D80CC', '#9900B3', '#E64D66', '#4DB380', '#FF4D4D', '#99E6E6', '#6666FF'] %> 

<% // https://www.w3schools.com/ai/ai_regressions.asp %>

<div class="text-white"> Logged in as: <%= data.username %></div>

<button class="btn btn-primary nav-item"><a class="nav-link text-white" href="/logout">Logout</a></button>

</nav>

<div class="container-fluid row">
    <div class="col-sm-2">
    <ul class="list-group">
      &nbsp
      &nbsp
      &nbsp
          <h4 style="padding-top:11px; text-align:center">Customer List</h4>
          
              
          <% data.customers.forEach(cust =>{ customerCountryArry.push(cust.country); if(true){ let selectedColor =  Math.floor(Math.random()*colors.length) ; customerNameArry.push(cust.name); invoiceAmountArry.push(cust.invoicetotal);  invoiceNumberArry.push(cust.invoicenumber) ; } %> 
                <div class="dropdown">
                    <button type="button" class="btn dropdown-toggle list-group-item list-group-item-action" data-bs-toggle="dropdown" style="color:darkcyan;">
                      <%=cust.name %>
                     </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="/customers/<%=cust._id%>">View Customer</a></li>
                    </ul>
                </div>
        <% }) %> 

    </ul>
  </div>
    <div class="col-md-10 container p-5 my-5 bg-primary text-white " style="margin-top:none">
      <div class="jumbotron" style="padding-top:0%" >
        &nbsp
        &nbsp
        <h4 style="text-align:center">Customer Dashboard</h4>
        <p class="text-black">Customer Total: <%=data.customers.length%></p>
        <p class="text-black">Invoice Total: <%=data.invoices[0].length%></p>
        <div style="text-align:center; display: flex; flex-wrap: wrap; justify-content: center; gap: 10px 10px">
        <canvas id="myChart" style="width:100%;max-width:900px; display: inline;" ></canvas>
        <canvas id="myChart2" style="width:100%;max-width:900px; display: inline; "></canvas>
        <canvas id="myChart3" style="width:100%;max-width:900px; display: inline; "></canvas>
        <canvas id="myChart4" style="width:100%;max-width:900px; display: inline; "></canvas>

        <div id="myPlot" style="width:100%;max-width:900px; display: inline;"></div>      
      </div>
      </div>
      </div>
</div>

<% customerNameString = customerNameArry.join()%>

<% while(customerNameString.includes(" ")){customerNameString= customerNameString.replaceAll(" ", "_")} %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/regression/1.4.0/regression.min.js"></script>

<div id="customerName" data-name=<%= customerNameString %>></div>
<div id="invoiceNumber" data-number=<%= invoiceNumberArry %>></div>
<div id="invoiceAmount" data-amount=<%= invoiceAmountArry %>></div>
<% // source https://stackoverflow.com/questions/2450954/how-to-randomize-shuffle-a-javascript-array %>
<% function shuffle(array) { let currentIndex = array.length,  randomIndex; // While there remain elements to shuffle.%>
<% while (currentIndex != 0) { // Pick a remaining element.%>
<% randomIndex = Math.floor(Math.random() * currentIndex); currentIndex--; // And swap it with the current element.%>
<% [array[currentIndex], array[randomIndex]] = [ array[randomIndex], array[currentIndex]]; } return array; } %>

<% colors = shuffle(colors) %>

<div id="colorArry" data-amount="<%= colors %>"></div>
<div id="countryNameArr" data-countryname="<%= data.countryNameArr %>"></div>
<div id="countryCountArr" data-countrycount="<%= data.countryCountArr %>"></div>
<div id="monthNameArr" data-monthnamearr="<%= data.monthNameArr %>"></div>
<div id="monthAmountArr" data-monthamountarr="<%= data.monthAmountArr %>"></div>

<script>       

  var name = document.getElementById('customerName').dataset.name
  var number = document.getElementById('invoiceNumber').dataset.number
  var amount = document.getElementById('invoiceAmount').dataset.amount
  var colors = document.getElementById('colorArry').dataset.amount
  var monthNameArr = document.getElementById('monthNameArr').dataset.monthnamearr
  var monthAmountArr = document.getElementById('monthAmountArr').dataset.monthamountarr

  var countryName1 = document.getElementById('countryNameArr').dataset.countryname
  var countryCount1 = document.getElementById('countryCountArr').dataset.countrycount
  

  const customerNames = name.split(",");
  for(let m =0;m<customerNames.length;m++)
{
  while(customerNames[m].includes("_")){customerNames[m]= customerNames[m].replaceAll("_", " ")} 
}  const invoiceNumbers = number.split(",");
  const invoiceAmounts = amount.split(",");
  const colorArr = colors.split(",");

  const monthNameArr1 = monthNameArr.split(",");
  const monthAmountArr1 = monthAmountArr.split(",");

  const countrys = countryName1.split(",");
  const countrycount = countryCount1.split(",");
  new Chart(document.getElementById("myChart"), {
    type: 'bar',
    data: 
    {
      labels: customerNames,
      datasets: 
      [
        {
          label: "Invoices",
          backgroundColor: colorArr,
          data: invoiceNumbers
        }
      ]
    },
    options: 
    {
      scales: 
      {
        yAxes: 
          [
            {
              display: true,
              stacked: true,
              ticks: 
              {
                min: 0, // minimum value
              }
            }
          ]
        },
        xAxis: {
            ticks: {
              suggestedMax: 100
            }
        },
      legend: { display: false },
      title: {
        display: true,
        text: 'Number of Unpaid Invoices per Customer'
      }
    }
});

new Chart(document.getElementById("myChart2"), {
    type: 'bar',
    data: {
      labels: customerNames,
      datasets: [
        {
          label: "Total Invoiced Amount per Customer USD",
          backgroundColor: colorArr,
          data: invoiceAmounts
        }
      ]
    },
    options: {
        scales: {
        yAxes: [{
          
            display: true,
            stacked: true,
            ticks: {
              callback: function(value, index, ticks) {
                        return '$' + value;
                    },
                min: 0, // minimum value
            }
        }]
    },
      legend: { display: false },
      title: {
        display: true,
        text: 'Total Invoiced Amount per Customer'
      }
    }
});




new Chart("myChart3", {
  type: "doughnut",
  data: {
    labels: countrys,
    datasets: [{
      backgroundColor: colorArr,
      data: countrycount
    }]
  },
  options: {
    title: {
      display: true,
      text: "Customer Country Summary"
    }
  }
});


new Chart(document.getElementById("myChart4"), {
    type: 'line',
    data: {
      labels: monthNameArr1,
      datasets: [
        {
          label: "Invoice Amount by Month for the last 12 months",
          backgroundColor: colorArr,
          data: monthAmountArr1,
          fill: false,
          borderColor: 'rgb(75, 192, 192)',
          tension: 0.1
        }
      ]
    },
    options: {
        scales: {
        yAxes: [{
          
            display: true,
            stacked: true,
            ticks: {
              callback: function(value, index, ticks) {
                        return '$' + value;
                    },
                min: 0, // minimum value
            }
        }]
    },
      legend: { display: false },
      title: {
        display: true,
        text: 'Invoice Amount by Month for the last 12 months'
      }
    }
});





</script>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>



<script>
  var xArray = [0,1,2,3,4,5,6,7,8,9,10,11];
  var yArray = [];
  for(let f=0;f<monthAmountArr1.length;f++){
    yArray.push(monthAmountArr1[f])
  }
  let total = 0
  yArray.forEach(amt=>{
    total = total + parseInt(amt)
  })
  // Calculate Slope
  let datapass = []
  for(let w=0;w<xArray.length;w++){
    let data1 = [parseInt(xArray[w]),parseInt(yArray[w])];
    datapass.push(data1)
  }

  var rawData = [
  [0.1, 2.1],
  [1, 2.4],
  [2, 2.6],
  [4, 2.8],
  [5, 3]
];

var result = regression('linear', datapass);
var coeff = result.equation;
 
 // const result = regression.linear(datapass);

  var xSum = xArray.reduce(function(a, b){return a + b;}, 0);
  var ySum = total
  var slope = ySum / xSum;

  
  // Generate values
  var xValues = [];
  var yValues = [];
  for (var x =0; x <= 24; x += 1) {
    xValues.push(x);
    yValues.push((x * coeff[0])+coeff[1]);

    
  }

  
  var data = [
    {x:xArray, y:yArray, mode:"markers", name:"Real Revenue"},
    {x:xValues, y:yValues, mode:"line",name:"Rev Projection"},
  ];
  
  var layout = {
    xaxis: {range: [0, 24], title: "Months"},
    yaxis: {range: [0, yValues[yValues.length]], title: "Revenue"},  
    title: "One Year Revenue Projection",
    showlegend:false,
    
  };
  
  Plotly.newPlot("myPlot", data, layout);
  </script>