
  <ul class="navbar-nav">
    <nav class="nav-item text-white"> Logged in as: <%= data.username %></nav>
    
    <button class="btn btn-primary nav-item"><a class="nav-link text-white" href="/logout">Logout</a></button>
  </ul>
</nav>
<% //https://www.w3schools.com/howto/howto_js_filter_lists.asp %>
  <main class="container-fluid ">
    <article class="col-md-10 container-fluid p-5 my-5 bg-primary text-white">
      <section class="jumbotron">
        <section class="container-fluid row">
          <ul class="col-md-12 list-group" >
            <h4>Invoice List</h4>
            <input type="text" id="invoiceField" onkeyup="sortInvoiceList()" placeholder="Search for invoice by name, amount, due date, or paid status" style="  width: 100%; font-size: 16px; padding: 12px 20px 12px 40px; border: 1px solid #ddd; margin-bottom: 12px; ">
            <ul id="invoiceEntry" style=" list-style-type: none; padding: 0; margin: 0;">
              <% data.invoices.forEach(inv =>{ %> 
              <li class="btn list-group-item list-group-item-action"><a href="/invoices/<%=inv._id%>" style="border: 1px solid #ddd; margin-top: -1px; background-color: #f6f6f6; padding: 12px; text-decoration: none; font-size: 18px; color: black; display: block;"> <%=inv.customer %> | $<%=inv.amount %> | <%=inv.dueDate %> | Paid status: <%=inv.paid %>  <% if (inv.paid == true){ %>
              ✅
              <% }%>
              <% if (inv.paid == false){ %>
              ❌
              <% }%> 
              </a></li>                                                        
              <% }) %> 
            </ul>
          </ul>
        </section>
      </section>
    </article>
  </main>

<script>
function sortInvoiceList() {
// Code from https://www.w3schools.com/howto/howto_js_filter_lists.asp
var invoiceField, filter, ul, li, a, i, txtValue;
invoiceField = document.getElementById('invoiceField');
filter = invoiceField.value.toUpperCase();
ul = document.getElementById("invoiceEntry");
li = ul.getElementsByTagName('li');
// Loop through all list items, and hide those who don't match the search query
for (i = 0; i < li.length; i++) {
  a = li[i].getElementsByTagName("a")[0];
  txtValue = a.textContent || a.innerText;
  if (txtValue.toUpperCase().indexOf(filter) > -1) {
    li[i].style.display = "";
  } 
  else {
    li[i].style.display = "none";
  }
}
}
</script>